.mask {
  position: absolute;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  opacity: 1;
  transition: 0.4s;
  text-align: center;
  padding: 0 15px;
  transition: opacity 0.5s;
}

.mask h1 {
  font-weight: 300;
  font-size: 1.9rem;
  opacity: 1;
  transition: 0.6s;
  transition: opacity 0.5s;
}
.mask span {
  font-weight: 100;
}
