.contact {
  width: 100%;
  max-width: 998px;
  height: calc(100vh - var(--margin-projects));
  position: absolute;
  top: 0px;
  margin: auto;
  overflow: scroll;
  padding: var(--external-margin);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  top: var(--margin-projects);
}
.contact h2 {
  text-align: center;
  margin-bottom: 20px;
}
.contact p {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--box-background);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  font-weight: 400;
  line-height: 2.5rem;
}

.contact_container {
  margin: 0 10px;
  width: 500px;
  z-index: 3;
}

.contact_container p {
  width: 280px;
  text-align: center;
  margin-top: 20px !important;
}

.contact_buttons {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.contact_buttons button {
  padding: 5px;
  background-color: var(--color);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.contact_buttons button:hover .more_icons {
  fill: var(--box-background);
}

.mail {
  cursor: pointer;
  position: relative;
  transition: 0.15s;
}

.mail span {
  position: absolute;
  background-color: var(--color);
  inset: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transform-origin: 50% bottom;
  transform: scaleY(0);
  transition: 0.2s;
  line-height: 1.5rem;
}

.mail:hover {
  color: var(--box-background);
}

.mail:hover span {
  transform: scaleY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copied {
  background-color: rgba(0, 128, 0, 0.407) !important;
}

@media (max-height: 890px) {
  .contact {
    height: 810px;
  }
}
